# ide
.idea/
.vscode/
.env
# django
/techies/__pycache__
/venv
db.sqlite3

# static
static/*
staticfiles/*

# dependencies
client/node_modules/*
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# pycache
user/__pycache__/
forum/__pycache__/

# migrations
user/migrations/
forum/migrations

mockup/