.image {
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
}

.image:hover {
  filter: brightness(70%);
}

.dropdown img {
  border-radius: 0 !important;
  transition: transform 0.2s ease-in-out;
}

.dropdown a:hover img {
  transform: scale(1.1);
}

.dropdownToggle::after {
  content: none !important;
}

.dropdown div {
  border-radius: 0 !important;
}

.dropdown a:after {
  content: none;
}

.dropdown div a:active {
  background-color: gray !important;
}
