.dropdown a:after {
  content: none;
}

.image {
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
}

.image:hover {
  filter: brightness(70%);
}

.dropdown a img:focus {
  box-shadow: 0 0 1px 1px black;
  border-radius: 50%;
}
