.avEditorWrapper {
  @apply relative  w-full h-[200px] bg-black;
}

.avEditorToolWrapper {
  @apply max-w-[560px] w-full h-auto mt-4 flex-col;
}

.avRight {
  @apply grid grid-cols-3
}

.avCenter {
  @apply flex justify-center items-center
}

.avEditorCropper {
  @apply relative col-start-2 col-span-2 w-full h-full mt-2;
}

.avEditorTool {
  @apply relative col-start-2 col-span-2 flex justify-center items-center w-full h-8;
}

.avEditorToolLabel {
  @apply w-20 text-white;
}

.avEditorToolInput {
  @apply appearance-none max-w-[240px] w-full h-0.5 bg-smoke;
}
