.container {
  margin-top: 10vh;
}

.formContainer {
  display: block;
  margin: auto;
  max-width: 500px;
}

.group {
  margin: 1.5rem auto;
}

.label {
  font-size: 20px;
  color: white;
}

.link {
  padding: 5px;
  color: white;
}

.input:-internal-autofill-selected {
  background-color: black;
}
