.container {
  display: block;
  margin: auto;
  max-width: 500px;
}

.group {
  margin: 1.5rem auto;
}

.label {
  font-size: 16px;
  color: white;
}

.btnContainer {
  display: flex;
  padding: 10px;
}

.btn {
  margin-right: 1rem;
  background-color: white;
  color: black;
  border: none;
}

.btn:hover {
  background-color: gray;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.link {
  padding: 5px;
  color: white;
}
