.profile {
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2rem;
  max-width: 960px;
  width: 100%;
  color: #fff;
}

.profile .header {
  max-width: inherit;
  padding: 20px;
  width: inherit;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  z-index: 3;
}

/*  Display user links */
.headerUrls {
  display: block;
  margin: auto;
  max-width: 920px;
  width: 85%;
  height: 200px;
  position: absolute;
  z-index: 1;
}

.headerUrls .urlsGrid {
  display: grid;
  max-width: inherit;
  width: inherit;
  grid-template-columns: 50% 50%;
  margin: 4rem auto;
  height: 190px;
  z-index: 3;
}

.headerUrls .urlsGrid .urlsHalf {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px;
  row-gap: 20px;
  height: inherit;
}

.urlsHalf a {
  color: gray;
  text-decoration: none;
}

.urlsHalf a:hover {
  color: white;
}

.urlsLeftLink,
.urlsRightLink {
  display: flex;
  height: 50px;
}

.urlsLeftLink p {
  display: block;
  margin: 0;
  line-height: 50px;
}

.urlsLeftLink:after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 20px;
  width: 60%;
  height: 30px;
  margin-left: 0.25rem;
}

.urlsLeftLink#top:after {
  top: 25px;
  width: 65%;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  transform: skew(45deg);
}

.urlsLeftLink#mid:after {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid gray;
}

.urlsLeftLink#bottom:after {
  width: 50%;
  height: 25px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  transform: skew(-45deg);
}

.urlsRightLink p {
  display: block;
  position: sticky;
  margin: 0;
  line-height: 50px;
}

.urlsRightLink:before {
  content: "";
  display: block;
  position: relative;
  align-items: right;
  left: 60px;
  width: 100%;
  height: 30px;
  margin: 0;
  margin-right: 5.5rem;
}

.urlsRightLink#top:before {
  top: 25px;

  width: 70%;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  transform: skew(135deg);
}

.urlsRightLink#mid:before {
  width: 100%;
  height: 25px;
  border-bottom: 1px solid gray;
}

.urlsRightLink#bottom:before {
  height: 25px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  transform: skew(-135deg);
}

/* Display avatar section */
.headerAvatar {
  display: block;
  margin: 3rem auto 2rem auto;
  justify-content: center;
}

.avatarRowEdit {
  margin: 10px auto;
}

.avatarEdit {
  line-height: 38px;
  padding-right: 0;
}

.avatarEdit p {
  margin: 0;
}

.avatarButton {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
}

.headerAvatar img {
  display: block;
  position: relative;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 0 0 5px 2px white;
  object-fit: fill;
  z-index: 30;
}

.headerAvatar h3 {
  text-align: center;
  margin-top: 2rem;
  padding: 10px;
}

/* Display stat section */
.headerStats {
  display: inline-block;
  margin: auto;
}

.rangeField {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.rangeField input {
  margin: auto;
  width: 250px;
}

.rangeField .rangeAmount {
  position: absolute;
  font-size: 18px;
  font-weight: 600px;
  color: black;
  top: 1rem;
}

/* General widget styling */
.profile .widget {
  max-width: inherit;
  width: inherit;
}

.widgetHeader {
  max-width: 200px;
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 2.25rem;
  border: 1px solid gray;
}

.widgetContent {
  max-width: inherit;
  width: inherit;
  display: block;
  margin: 0;
  padding: 1.5rem;
  border: 1px solid gray;
}
