.profile {
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2rem;
  max-width: 960px;
  width: 100%;
  color: #fff;
}

.profile .header {
  max-width: inherit;
  padding: 20px;
  width: inherit;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  z-index: 3;
}

/*  Display user links */
.headerUrls {
  display: block;
  margin: auto;
  max-width: 920px;
  width: 95%;
  height: auto;
  position: absolute;
  z-index: 2;
}

.headerUrls .urlsGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px auto;
  z-index: 3;
}

.headerUrls .urlsGrid a {
  width: 100%;
  height: 50px;
  background-color: white;
  border: 1px solid black;
}

.headerUrls .urlsGrid #right {
  text-align: end;
  display: none;
}

/* Display avatar section */
.headerAvatar {
  display: block;
  margin: 20px auto;
  justify-content: center;
}

.avatarRowEdit {
  margin: 10px auto;
}

.avatarEdit {
  line-height: 38px;
  padding-right: 0;
}

.avatarEdit p {
  margin: 0;
}

.avatarButton {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
}

.headerAvatar img {
  display: block;
  position: relative;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid gray;
  box-shadow: 0 0 5px 2px white;
  object-fit: fill;
  z-index: 30;
}

.headerAvatar h3 {
  text-align: center;
  margin: 0;
  padding: 10px;
}

/* Display stat section */
.headerStats {
  display: inline-block;
  margin: auto;
}

.rangeField {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  width: 100%;
}

.rangeField input {
  margin: auto;
  width: 250px;
}

.rangeField .rangeAmount {
  position: absolute;
  font-size: 18px;
  font-weight: 600px;
  color: black;
  top: 1rem;
}

/* General widget styling */
.profile .widget {
  max-width: inherit;
  width: inherit;
}

.widgetHeader {
  max-width: 200px;
  width: 100%;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 2.25rem;
  border: 1px solid gray;
}

.widgetContent {
  max-width: inherit;
  width: inherit;
  display: block;
  margin: 0;
  padding: 1.5rem;
  border: 1px solid gray;
}

/* Profile custom bootstrap */
