.container {
  margin-top: 10vh;
}

.group {
  margin: 0.75rem auto;
}

.formContainer {
  display: block;
  margin: auto;
  max-width: 500px;
}

.label {
  font-size: 20px;
  color: white;
}

/* Valid icons */
.valid {
  margin-left: 0.5rem;
  color: limegreen;
}

.invalid {
  margin-left: 0.5rem;
  color: rgb(255, 68, 68);
}

.hide {
  display: none;
}

.invalidNote {
  margin: 1rem 0;
  font-size: 14px;
  color: rgb(255, 68, 68);
}
