.refLinks {
  @apply relative w-full h-full flex flex-col justify-start items-center;
}

.refLinkWrapper {
  @apply flex flex-col justify-around w-full h-full p-4;
}

.refLinkRow {
  @apply w-full h-6 flex justify-start items-center;
}

.refLinkEmpty {
  @apply w-5/6 m-auto border-t-2 border-gray border-dashed;
}

.refLinkUrl {
  @apply w-14 h-full text-gray text-center hover:text-white hover:underline underline-offset-2 duration-150;
}

.refLinkDash {
  @apply flex-grow border-t-4 border-white border-dotted mx-2;
}

.refLinkIcon {
  @apply w-6 h-6 text-white;
}

.refLinkInput {
  @apply w-full m-auto px-2 py-1 
  text-gray focus:text-white 
  outline outline-white outline-1 bg-black
  duration-200;
}
