.container {
  display: block;
  margin: 2rem auto;
  width: 100%;
  color: white;
  border: 2px solid gray;
  padding: 1.5rem 2rem;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  box-shadow: 0 0 5px 2px #fff;
}

.header {
  display: flex;
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid gray;
  line-height: 3rem;
}

.header h5 {
  margin: 0;
  line-height: inherit;
}

.header p {
  margin-left: auto;
  margin-right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}

.content h3 {
  margin: 1rem 0;
  font-size: 36px;
}

.content p {
  margin: 1rem 0;
}

.tags {
  display: flex;
  margin: 1.5rem 0;
}

.tags p {
  margin: auto 1rem auto 0;
  padding: 0 0.5rem;
  border: 1px solid gray;
}

.buttonList {
  display: flex;
  position: relative;
  z-index: 30;
}

.button {
  display: block;
  position: relative;
  margin-right: 1rem;
  padding: 3px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: white;
}

.button#active {
  box-shadow: 0 0 1px 2px white !important;
}

.button:hover {
  background-color: transparent !important;
  border: none !important;
  box-shadow: 0 0 1px 2px white !important;
}

.button:focus {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
}

.button:active {
  box-shadow: none !important;
}

.icon {
  font-size: 20px;
  transition: all 0.25s ease-in-out;
  transform-style: preserve-3d;
}

.editGroup {
  margin: 1.5rem 0;
}
