.genName {
  @apply max-w-[180px] w-full h-9 mb-7 focus:outline-none 
  border-l-2 border-r-2 text-xl text-center 
  font-semibold;
}

.genAvatar {
  @apply max-w-[180px] w-full h-[180px] border-2 mb-7;
}

.genAvatar:active {
  @apply bg-white;
}

.genChangeAvatarWrapper {
  @apply w-full h-auto bg-black flex flex-col justify-center items-center py-4;
}