<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p>Dear {{ username }},</p>
<br>
<div>
    <p>We have received a reset password request for your Techies Forum account.</p>
    <p>Please access the link to set your new password: <a href="{{ reset_password_url }}">Click Here</a></p>
</div>
<br>
<p>If you did not send this request, please ignore this email</p>
<br>
<p>Best,<br>The Techies Forum team</p>
</body>

</html>
