@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-cyber-left {
    clip-path: polygon(
      0 24px,
      24px 0%,
      calc(100% - 24px) 0%,
      100% 24px,
      100% calc(100% - 48px),
      calc(100% - 24px) calc(100% - 24px),
      50% calc(100% - 24px),
      calc(50% - 24px) 100%,
      calc(100% - 24px) 100%,
      24px 100%,
      0% calc(100% - 24px)
    );
  }

  .clip-cyber-right {
    clip-path: polygon(
      0 24px,
      24px 0%,
      calc(100% - 24px) 0%,
      100% 24px,
      100% calc(100% - 24px),
      calc(100% - 24px) 100%,
      50% 100%,
      calc(50% - 24px) calc(100% - 24px),
      24px calc(100% - 24px),
      0% calc(100% - 48px)
    );
  }

  .clip-opposite-corners-left {
    clip-path: polygon(
      0% 12px,
      12px 0%,
      100% 100%,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      0% 100%
    );
  }

  .clip-opposite-corners-right {
    clip-path: polygon(
      0% 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% 100%,
      12px 100%,
      0% calc(100% - 12px)
    );
  }

  .clip-file-shape {
    clip-path: polygon(
      0% 0%,
      calc(100% - 12px) 0%,
      100% 12px,
      100% calc(100% - 12px),
      50% calc(100% - 12px),
      calc(50% - 12px) 100%,
      12px 100%,
      0% calc(100% - 12px)
    );
  }
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: white;
  clip-path: polygon(15% 50%, 50% 0%, 85% 50%, 50% 100%);
}

input[type="range"]::focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: #ffffff;
}
